.faq-answer-enter {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
  }
  
  .faq-answer-enter-active {
    max-height: 100px; /* Ajuste conforme necessário */
    opacity: 1;
    transition: max-height 300ms ease-in-out, opacity 300ms ease-in-out;
  }
  
  .faq-answer-exit {
    max-height: 100px; /* Ajuste conforme necessário */
    opacity: 1;
    overflow: hidden;
  }
  
  .faq-answer-exit-active {
    max-height: 0;
    opacity: 0;
    transition: max-height 300ms ease-in-out, opacity 300ms ease-in-out;
  }
  