@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .primary-btn{
        @apply bg-gradient-to-r from-primaryColor to-secondColor duration-300 py-2 px-6 rounded-full hover:scale-105
    }

   .second-btn{
        @apply border border-black px-5 py-2 rounded-full
    } 

    .third-btn{
        @apply border border-white px-5 py-2 rounded-full
    }
}

.image-container {
    position: relative;
    width: 100%;
    max-width: 800px; /* ajuste conforme necessário */
    overflow: hidden; /* garante que a imagem não transborde */
  }
  
  .image-container img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease; /* adiciona a transição para o efeito de escala */
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 20px;
  }
  
  .image-container:hover img {
    transform: scale(1.1); /* aplica o efeito de escala na imagem */
  }
  
  .image-container:hover .overlay {
    opacity: 1;
  }
  
  .overlay span {
    position: relative;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .overlay p {
    font-size: 1rem;
    margin-top: 10px;
    text-align: center;
  }
  

  